In [1]:
from sklearn import tree
import pandas as pd
import os

In [9]:
df = pd.read_csv(os.path.join("..", "data", "beta_frame.csv"))
df.head()

,Unnamed: 0,ac45bi501,ac45bi5010,ac45bi5011,ac45bi5012,ac45bi5013,ac45bi5014,ac45bi5015,ac45bi5016,ac45bi5017,...,ac45bi5019,ac45bi502,ac45bi503,ac45bi504,ac45bi505,ac45bi506,ac45bi507,ac45bi508,ac45bi509,raster_frame
0,1,120.0,197.0,53.0,2075.0,357.0,11.0,71.0,1018.0,77.0,...,971.0,111.0,40.0,5637.0,289.0,15.0,274.0,58.0,197.0,0
1,2,119.0,196.0,52.0,2088.0,361.0,11.0,71.0,1029.0,77.0,...,982.0,111.0,40.0,5636.0,287.0,13.0,274.0,57.0,196.0,0
2,3,121.0,198.0,53.0,2055.0,355.0,11.0,71.0,1012.0,76.0,...,965.0,111.0,40.0,5658.0,289.0,15.0,274.0,58.0,198.0,0
3,4,121.0,198.0,53.0,2038.0,352.0,11.0,71.0,1003.0,75.0,...,957.0,111.0,40.0,5684.0,290.0,15.0,275.0,59.0,198.0,0
4,5,117.0,194.0,49.0,2082.0,362.0,11.0,72.0,1033.0,75.0,...,987.0,111.0,40.0,5682.0,287.0,11.0,276.0,54.0,194.0,0

In [10]:
target = df["raster_frame"]
target_names = ["negative", "positive"]

In [21]:
data = df.drop("raster_frame", axis=1).fillna(0)
feature_names = data.columns
data.head()

,Unnamed: 0,ac45bi501,ac45bi5010,ac45bi5011,ac45bi5012,ac45bi5013,ac45bi5014,ac45bi5015,ac45bi5016,ac45bi5017,ac45bi5018,ac45bi5019,ac45bi502,ac45bi503,ac45bi504,ac45bi505,ac45bi506,ac45bi507,ac45bi508,ac45bi509
0,1,120.0,197.0,53.0,2075.0,357.0,11.0,71.0,1018.0,77.0,77.0,971.0,111.0,40.0,5637.0,289.0,15.0,274.0,58.0,197.0
1,2,119.0,196.0,52.0,2088.0,361.0,11.0,71.0,1029.0,77.0,77.0,982.0,111.0,40.0,5636.0,287.0,13.0,274.0,57.0,196.0
2,3,121.0,198.0,53.0,2055.0,355.0,11.0,71.0,1012.0,76.0,76.0,965.0,111.0,40.0,5658.0,289.0,15.0,274.0,58.0,198.0
3,4,121.0,198.0,53.0,2038.0,352.0,11.0,71.0,1003.0,75.0,75.0,957.0,111.0,40.0,5684.0,290.0,15.0,275.0,59.0,198.0
4,5,117.0,194.0,49.0,2082.0,362.0,11.0,72.0,1033.0,75.0,75.0,987.0,111.0,40.0,5682.0,287.0,11.0,276.0,54.0,194.0

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [23]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.974076758375019

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9798748484159466

In [25]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1688615387156996, 'Unnamed: 0'),
 (0.08734629483046043, 'ac45bi504'),
 (0.061040602877960114, 'ac45bi5012'),
 (0.059352323958555823, 'ac45bi507'),
 (0.053514947522075626, 'ac45bi5019'),
 (0.05346064069627587, 'ac45bi502'),
 (0.0526527354244083, 'ac45bi5016'),
 (0.045863147507913836, 'ac45bi508'),
 (0.04574197515779198, 'ac45bi506'),
 (0.04147054253871667, 'ac45bi5018'),
 (0.04026069997218237, 'ac45bi505'),
 (0.03877009669617067, 'ac45bi5015'),
 (0.038727969468199314, 'ac45bi5013'),
 (0.03773439912321076, 'ac45bi5011'),
 (0.03604817004261468, 'ac45bi509'),
 (0.03482582623256431, 'ac45bi5017'),
 (0.031092848398192357, 'ac45bi5010'),
 (0.02835848120477764, 'ac45bi501'),
 (0.025752453027764046, 'ac45bi5014'),
 (0.019124306604465617, 'ac45bi503')]