In [31]:
from sklearn import tree
import pandas as pd
import os

In [38]:
data = pd.read_csv('../../Resources/2050_harsh.csv')

In [39]:
# data.drop(['ac45bi501', 'ac45bi5010', 'ac45bi5011', 'ac45bi5012', 'ac45bi5013',
#        'ac45bi5014', 'ac45bi5015', 'ac45bi5016', 'ac45bi5017', 'ac45bi5018',
#        'ac45bi5019', 'ac45bi502', 'ac45bi503', 'ac45bi504', 'ac45bi505',
#        'ac45bi506', 'ac45bi507', 'ac45bi508', 'ac45bi509'], axis = 1, inplace = True)
data.drop(['Unnamed: 0'], axis = 1, inplace = True)
data.dropna(axis = 0, how = 'any', inplace = True)
data.rename(columns={'bc85bi501': 'Annual Mean Temperature', 
                     'bc85bi5010': 'Mean Diurnal Range (Mean of monthly (max temp - min temp))',
                     'bc85bi5011': 'Isothermality',
                     'bc85bi5012': 'Temperature Seasonality',
                     'bc85bi5013': 'Max Temperature of Warmest Month',
                     'bc85bi5014': 'Min Temperature of Coldest Month',
                     'bc85bi5015': 'Temperature Annual Range',
                     'bc85bi5016': 'Mean Temperature of Wettest Quarter',
                     'bc85bi5017': 'Mean Temperature of Driest Quarter',
                     'bc85bi5018': 'Mean Temperature of Warmest Quarter',
                     'bc85bi5019': 'Mean Temperature of Coldest Quarter',
                     'bc85bi502': 'Annual Precipitation',
                     'bc85bi503': 'Precipitation of Wettest Month',
                     'bc85bi504': 'Precipitation of Driest Month',
                     'bc85bi505': 'Precipitation Seasonality (Coefficient of Variation)',
                     'bc85bi506': 'Precipitation of Wettest Quarter',
                     'bc85bi507': 'Precipitation of Driest Quarter',
                     'bc85bi508': 'Precipitation of Warmest Quarter',
                     'bc85bi509': 'Precipitation of Coldest Quarter',
                    }, inplace=True)

data = data[['x','y','raster_frame', 'Precipitation of Driest Month', 'Temperature Seasonality', 'Precipitation of Driest Quarter',
             'Annual Precipitation', 'Precipitation of Warmest Quarter']]

# data.columns
data.head()

,x,y,raster_frame,Precipitation of Driest Month,Temperature Seasonality,Precipitation of Driest Quarter,Annual Precipitation,Precipitation of Warmest Quarter
0,-122.037500,45.495833,0,5749.0,2355.0,274.0,106.0,65.0
1,-122.029167,45.495833,0,5745.0,2369.0,275.0,106.0,63.0
2,-122.020833,45.495833,0,5756.0,2332.0,275.0,107.0,65.0
3,-122.012500,45.495833,0,5799.0,2312.0,275.0,106.0,65.0
4,-122.004167,45.495833,0,5798.0,2361.0,276.0,107.0,61.0

In [40]:
target = data['raster_frame']
target_names = ["negative", "positive"]

In [41]:
new_data = data.drop(["raster_frame",'x','y'], axis=1)
feature_names = new_data.columns
new_data.head()

,Precipitation of Driest Month,Temperature Seasonality,Precipitation of Driest Quarter,Annual Precipitation,Precipitation of Warmest Quarter
0,5749.0,2355.0,274.0,106.0,65.0
1,5745.0,2369.0,275.0,106.0,63.0
2,5756.0,2332.0,275.0,107.0,65.0
3,5799.0,2312.0,275.0,106.0,65.0
4,5798.0,2361.0,276.0,107.0,61.0

In [42]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(new_data, target)
prediction = rf.predict_proba(new_data)

In [43]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.27131291517432293, 'Precipitation of Driest Month'),
 (0.24686358430166067, 'Temperature Seasonality'),
 (0.2220759655809414, 'Precipitation of Warmest Quarter'),
 (0.13454123275415308, 'Precipitation of Driest Quarter'),
 (0.12520630218892193, 'Annual Precipitation')]

In [57]:
data['Prediction'] = prediction[:,1]
# len(prediction)
# data.count
# data['Prediction'].value_counts()
data.head()

,x,y,raster_frame,Precipitation of Driest Month,Temperature Seasonality,Precipitation of Driest Quarter,Annual Precipitation,Precipitation of Warmest Quarter,Prediction
0,-122.037500,45.495833,0,5749.0,2355.0,274.0,106.0,65.0,0.0
1,-122.029167,45.495833,0,5745.0,2369.0,275.0,106.0,63.0,0.0
2,-122.020833,45.495833,0,5756.0,2332.0,275.0,107.0,65.0,0.0
3,-122.012500,45.495833,0,5799.0,2312.0,275.0,106.0,65.0,0.0
4,-122.004167,45.495833,0,5798.0,2361.0,276.0,107.0,61.0,0.0